@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styling */
body {
  background-color: #f9fafb;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
